*{
    margin:0px;
    padding:0px;
    

}
body{
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
     
}
.box{
    height:400px;
    width:300px;
    background-color: aliceblue;
    box-sizing: border-box;
    border-radius: 50px;
    padding:10px;
     
}
h1{
    padding-bottom:20px;
    color:rgb(91, 91, 238);
}
label{
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    color:rgb(82, 169, 172);

}
input{
    width:90%;
    height:30px;
    border-radius: 20px;
    padding:10px;
    margin:5px;

}
.inp{
    margin-bottom:50px;
}
 
button{
    width:100%;
    height:50px;
    border-radius: 30px;
    cursor:pointer;
    font-weight:500px;
    font-size: 20px;
    color:white;
    font-style:inherit;
    background-color: rgb(88, 88, 221);
}

 